@charset "UTF-8";
/* ---------- Teksten ----------- */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  box-sizing: border-box;
}
body p, body a {
  font-size: 1.4em;
  font-weight: 400;
}
body p {
  padding: 0 2em 1.5em 2em;
}
body h1, body h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding: 1em;
  text-align: center;
}
body h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding: 1em;
}
body h4, body h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-align: center;
}
body h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-align: center;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-size: 2.5em;
}
body .bg-grå p {
  font-size: 1.5em;
}
body .bg-grå h3 {
  text-decoration: underline;
  font-size: 2.5em;
  font-weight: bold;
}
body .P-fed span {
  font-weight: bold;
}

/*----------Navigation-----------*/
header nav {
  background-color: #22213a;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
header nav .logo {
  height: 4em;
  width: auto;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul li {
  padding: 1em;
}

nav ul li a {
  text-decoration: none;
  color: #f8f8f8;
}

nav ul li a:hover {
  text-decoration: none;
  color: #849aaa;
}

header img {
  width: 100%;
  height: 80vh;
}

.billede-tekst img {
  width: 100%;
  height: 50vh;
  padding-bottom: 1em;
}

main img {
  width: 100%;
  height: auto;
}

.img-fejl {
  width: 30vw;
  height: auto; /* -------- Hvordan får jeg det til at sidde i midten! det vil ikke.. ----------- */
}

/*----------Hovedindhold-----------*/
main section {
  margin-left: 15%;
  margin-right: 15%;
}

main section:nth-child(1) {
  border-bottom: 3px #22213a solid;
  padding-bottom: 1em;
}

main section:nth-child(3) {
  background-color: #e2e2e2;
  padding-bottom: 1em;
}

.bg-grå {
  justify-content: center;
  text-align: center;
}

.scenarie {
  background-image: url(../img/bg-scenarie.png);
  background-size: cover;
  background-position: center;
  height: 50vh;
  opacity: 40%;
}

.tekst-test {
  opacity: none;
  text-align: center;
}

/*--------- Stage ---------*/
/* ------ Hvordan får jeg knapperne til at blive større ------ */
.stage {
  background-color: #f8f8f8;
  display: none;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}
.stage.active {
  display: block;
}
.stage .btn {
  background-color: #4e6867;
  border: none;
  border-radius: 1em;
  padding: 0.5em;
  border-radius: 1em;
  color: #f8f8f8;
  margin-left: 45%;
}
.stage {
  /* @include partial.btn; */
}
.stage .btn:hover {
  background-color: #333636;
}
.stage .btn-valg {
  background-color: #4e6867;
  border: none;
  border-radius: 1em;
  padding: 0.5em;
  border-radius: 1em;
  color: #f8f8f8;
  margin-left: 5%;
}
.stage .btn-valg:hover {
  background-color: #333636;
}

/*----------Footer-----------*/
footer {
  background-color: #22213a;
  color: #f8f8f8;
  text-align: center;
  padding: 2em;
}
footer footer i {
  font-size: 10vh;
  margin: 0.5em;
  color: #22213a;
}
footer footer p {
  color: #f8f8f8;
}
footer footer .logo {
  margin-bottom: 1rem;
}
footer .logo {
  height: 4em;
  width: auto;
}

/*Desktop*/
@media screen and (min-width: 769px) {
  .banner {
    height: 80vh;
  }
  main section:nth-of-type(1) {
    width: 70vw;
    margin: 0 auto;
  }
  .billede-tekst {
    display: flex;
    gap: 1em;
  }
  main section:nth-of-type(2) h2 {
    text-align: center;
  }
  .billede-tekst img {
    width: 100%;
    padding-right: 2em;
    order: 1;
  }
  .billede-tekst a {
    margin: 0 2em 1.5em 2em;
  }
  .bg-grå {
    display: flex;
    gap: 3em;
  }
  .bg-grå img {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .bg-grå div h2 {
    text-align: left;
  }
  main section:nth-child(3) {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 769px) {
  main section {
    margin-left: 0;
    margin-right: 0;
  }
}/*# sourceMappingURL=style.css.map */