
/* ---------- Tekst ----------- */

body{
    font-family: $font;
    background-color: $body-bg-color;
    margin: 0;
    box-sizing: border-box;

    p, a{
        font-size: 1.4em;
        font-weight: 400;
    }

    p{
        padding: 0 2em 1.5em 2em;
    }

    h1, h2{
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        padding: $space;
        text-align: center;
    }

    h3{
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        padding: $space;
    }

    h4, h5{
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        text-align: center;
    }

    h6{
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        text-align: center;
    }

    h1, h2, h3, h4, h5, h6{
        font-size: 2.5em;
    }

    .bg-grå p{
        font-size: 1.5em;
    }

    .bg-grå h3{
        text-decoration: underline;
        font-size: 2.5em;
        font-weight: bold;
    }

    .P-fed span{
        font-weight: bold;
    }

}

/*----------Navigation-----------*/

header nav{
    background-color: $nav-color;
    padding: $space;
    display: flex;
    justify-content: space-between;

    .logo{
        height: 4em;
        width: auto;
    }
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav ul li{
    padding: 1em;
}

nav ul li a{
    text-decoration: none;
    color: $body-bg-color;
}

nav ul li a:hover{
    text-decoration: none;
    color: #849aaa;
}

header img{
    width: 100%;
    height: 80vh;
    }

.billede-tekst img{
    width: 100%;
    height: 50vh;
    padding-bottom: 1em;
    }

main img{
    width: 100%;
    height: auto;
}

.img-fejl{
    width: 30vw;
    height: auto;
}

/*----------Hovedindhold-----------*/

main section{
    margin-left: 15%;
    margin-right: 15%;
}

main section:nth-child(1){
    border-bottom: 3px $nav-color solid;
    padding-bottom: 1em;
}

main section:nth-child(3){
    background-color: #e2e2e2;
    padding-bottom: 1em;
}

.bg-grå{
    justify-content: center;
    text-align: center;
}

.scenarie {
    background-image: url(../img/bg-scenarie.png);
    background-size: cover;
    background-position: center;
    height: 50vh;
    opacity: 40%;
}

.scenarie .tekst-test{
    border-bottom: 3px $nav-color solid;
    background-color: $cta;
    text-align: center;
    font-size: larger;
}

/*--------- Stage ---------*/

.stage {
    background-color: $body-bg-color;
    display: none;
    max-width: 800px;
    margin: 0 auto;
    padding: $space;
    &.active {
        display: block; 
    }
    .btn{
        background-color: $cta;
        border: none;
        border-radius: $space;
        padding: $space/2;
        border-radius: $space;
        color: $body-bg-color;
        margin-left: 45%;
    }

    .btn:hover {
        background-color: $cta-hover;
    }
    .btn-valg{
        background-color: $cta;
        border: none;
        border-radius: $space;
        padding: $space/2;
        border-radius: $space;
        color: $body-bg-color;
        margin-left: 5%;
    }
    .btn-valg:hover {
        background-color: $cta-hover;
    }

}

/*----------Footer-----------*/

footer{
    background-color: $nav-color;
    color: $body-bg-color;
    text-align: center;
    padding: 2em;

    footer i{
        font-size: 10vh;
        margin: .5em;
        color: $nav-color;
    }

    footer p{
        color: $body-bg-color;
    }

    footer .logo{
        margin-bottom: 1rem;
    }

     .logo{
        height: 4em;
        width: auto;
    }
}

/*Desktop*/

@media screen and (min-width: 769px){
    .banner{
        height:80vh;
    }

    main section:nth-of-type(1){
        width: 70vw;
        margin: 0 auto;
    }

    .billede-tekst{
        display: flex;
        gap: $space;
    }

    main section:nth-of-type(2) h2{
        text-align: center;
    }

    .billede-tekst img{
        width: 100%;
        padding-right: 2em;
        order: 1;
    }

    .billede-tekst a{
        margin: 0 2em 1.5em 2em;
    }

    .bg-grå{
        display: flex;
        gap: 3em;
        padding-top: 2em; 
    }

    .bg-grå img{
        width: 50%;
        object-fit: cover;
    }

    .bg-grå div h2{
        text-align: left;
    }

    main section:nth-child(3){
        padding-bottom: 0;
    }

}

@media screen and (max-width: 769px){
main section{
    margin-left: 0;
    margin-right: 0;
    }

}